---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Layout from '../layouts/Layout.astro';
import Chat from '../components/Chat.astro';

function Frase(frase: String) {
	let acum = '';
	for (let i = 0; i < frase.length; i++) {
		acum += frase[i];
	}
	return acum.split('');
}
---

<Layout title='Diego Garzón | web developer'>
	<Header />
	<div class='text-white'>
		<div class='creatividad absolute text-center text-2xl font-semibold leading-10 left-4'>
			<div class='flex flex-col frases'>
				{Frase('CREATIVITY').map((e) => <p class='text-rose-400'>{e}</p>)}
			</div>
		</div>
		<div class='flex justify-around w-full my-10 main_container'>
			<div
				class='creatividad absolute text-center text-2xl font-semibold leading-10 right-1/3'>
				<div class='flex flex-col frases'>
					{Frase('INTUITION').map((e) => <p class='text-rose-400'>{e}</p>)}
				</div>
			</div>
			<!-- <img class='astronauta absolute -z-10 left-36' src='../img/astro.png' alt='' /> -->
			<p
				class='text-white w-2/5 text-center self-center border-800 p-9 contenedor_frase leading-8 text-lg bg-neutral-900 shadow-black shadow-md'>
				Hello, welcome to my portfolio, I want you to know me a little more, that you know
				what I do and how I do it. You will know my skills, hobbies. I hope you enjoy the
				experience, and do not hesitate to contact me if you want to know something more
				specific. We are going to work together and let our creativity fly, and carry out
				all our ideas.
			</p>

			<div class='h-auto flex items-center justify-center'>
				<img
					class='shadow-xl shadow-black fotoMia bgr'
					src='../img/fotoMia.png'
					alt=''
					width='300'
				/>
			</div>
			<div
				class='creatividad absolute text-center text-2xl font-semibold leading-10 right-3'>
				<div class='flex flex-col frases'>
					{Frase('INSPIRATION').map((e) => <p class='text-rose-400'>{e}</p>)}
				</div>
			</div>
		</div>
	</div>

	<Footer />
</Layout>
<style>
	@media (max-width: 700px) {
		.astronauta,
		.frases {
			display: none;
		}
		.main_container {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		.contenedor_frase {
			width: 90%;
		}
		.fotoMia {
			width: 250px;
			height: 350px;
		}
	}

	.creatividad {
		color: #274a2e58;
	}
	.astronauta {
		top: 25%;
		left: 20%;
		filter: drop-shadow(5px 10px 3px black);
	}
</style>
