---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' href='/assets/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='bg-zinc-900'>
		<slot />
	</body>
	<style>
		html {
			scroll-behavior: smooth;
			font-size: 1.125rem /* 18px */;
			line-height: 1.75rem /* 28px */;
		}
	</style>
</html>
